<section class="main-login-container">
    <div class="login-form-wrapper">
        <span class="form-titLe">Вход</span>
        <form action="" class="login-form">
            <label for="Telegram username">Telegram username</label>
            <input id="Telegram username" placeholder="Введите логин" type="text" class="login-form__input">
            <label for="password">Пароль</label>
            <input id="password" placeholder="Введите логин" type="text" class="login-form__input">
            <button class="standart-button submit-button" type="button">
                Войти
            </button>
        </form>
    </div>
       <img src="/assets/svgs/logo.svg" alt="" class="logo">
</section>