<section class="main-login-container">
    <div class="login-form-wrapper">
        <span class="form-titLe">Вход</span>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" action="" class="login-form">
            <label for="Telegram username">Telegram username</label>
            <input formControlName="username" id="Telegram username" placeholder="Введите логин" type="text" class="login-form__input">
            <label for="password">Пароль</label>
            <input formControlName="password" id="password" placeholder="Введите пароль" type="text" class="login-form__input">
          
        </form>
        <button (click)="onSubmit()" type="submit" class="standart-button submit-button">
            Войти
        </button>
    </div>
       <img src="/assets/svgs/logo.svg" alt="" class="logo">
</section>